<div class="container d-flex justify-content-center align-items-center">

    <div class="mt-3">
      <h1>Welcome To BlackShop</h1>
      <div class="login-custom">
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <label for="mail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" formControlName="name"
              formControlName="email"
            >
          </div>
          <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="password1" formControlName="password">
          </div>
       
          
          <div class="d-grid gap-2">
              <button  class="btn btn-primary" (click)="login()">Login</button>
            </div>
        </form>
  </div>
      </div>
       
</div>